.list-default {
	list-style: none;

	li {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: -30px;
			bottom: 0;
			width: 20px;
			height: 1px;
			top: 12px;
			background-color: $luxor-gold;
		}

		a {
			color: $black;
		}
	}
}