.list-default {
	list-style: none;
	li {

		a {
			color: $black;
			@include transition(all 0.3s ease);

			position: relative;

			&:hover {
				opacity: 0.35;
			}

			&:before {
				content: "";
				position: absolute;
				left: -30px;
				bottom: 0;
				width: 20px;
				height: 1px;
				top: 10px;
				background-color: $luxor-gold;
			}
		}
	}
}