.slick-arrow {
	border: none;
	background-color: $main-color;
	color: $white;
	position: absolute;
	left: 15px;
	top: 15px;
	width: 50px;
	height: 43px;
	font-size: 42px;
	display: flex;
	justify-content: center;
	z-index: 1;
	outline: none;

	&.slick-next {
		left: 65px;
	}
}