{% extends "layouts/master.twig" %}

{% block content %}
	<main class="main-content">
		<div class="container">
			<section class="block-location">
				<div class="row">
					<div class="col-md-7">
						<div id="map-contact" style="min-height: 300px"></div>
					</div>
					<div class="col-md-5"></div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}

{% block body_js %}{% endblock %}
