{% extends "layouts/master.twig" %}

{% block header %}
      {% include 'partials/header-404.twig' %}
{% endblock %}

{% block content %}
	<main class="main-content">
		<div class="container" style="height: 40px;">
		</div>
	</main>
{% endblock %}
