// Set font families
$font-family--primary      : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary    : Arial, Helvetica, sans-serif;

// Set font weights
$font-weight--light       : 300;
$font-weight--normal      : 400;
$font-weight--bold        : 600;

// Set color
$black                    : #000000;
$white                    : #ffffff;

// Set main colors
$primary-color            : $black;
$secondary-color          : $white;
$body-font-color          : $black;

// Set font size
$base__font-size          : 16px;
$base__line-height		  : 1.5;