html {
    font-size: $base__font-size;

    body {
        line-height: $base__line-height;
        font-size: $base__font-size;
        font-family: $main-font;
    }
}

a img {
    /* Stops ie from displaying a blue box around linked images */
    outline:0;
    border:0;
}

a {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.ieblock {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    font-size: 20px;
    background: $black;
    color: $white;
    padding: 30px;
    position: absolute;
    z-index: 10; 
    left: 0;
    top: 0;
}

.scroll-next-section {
    color: $white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    @include transform(translateX(-50%));

    .fa {
        display: block;
        font-size: 0;

        &:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 14px solid $white;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
        }
    }
}

.flexlayout {
    @include breakpoint(tablet) {
        display: flex;
    }
}

.icon {
    display: inline-block;
    overflow: hidden;
    line-height: 0;

    &__menu-icon {
        svg {
            width: 13px;
            height: 24px;
        }
    }

    &__menu-icon-close {
        svg {
            width: 17px;
            height: 17px;
        }
    }

    &__logo-text {
        svg {
            width: 30px;
            height: 32px;
        }
    }

    &__phone {
        svg {
            width: 21px;
            height: 21px;
        }
    }

    &__local {
        svg {
            width: 20px;
            height: 25px;
        }
    }

    &__logo-white{
        svg {
            width: 141px;
            height: 86px;
            background: url(../svg/sources/logo-white.svg) no-repeat center;
            background-size: 141px 86px;
            * {
                display: none;
            }

            @include breakpoint(tablet) {
                width: 216px;
                height: 132px;
                background-size: 216px 132px;
            }
        }
    }

    &__icon-1, &__icon-2, &__icon-3, &__icon-4 {
        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__icon-restaurants, &__icon-restaurants-hover {
        svg {
            width: 56px;
            height: 52px;
        }
    }

    &__icon-cake, &__icon-cake-hover {
        svg {
            width: 46px;
            height: 45px;
        }
    }

    &__icon-ticket, &__icon-ticket-hover {
        svg {
            width: 61px;
            height: 35px;
        }
    }

    &__icon-bicycle, &__icon-bicycle-hover {
        svg {
            width: 78px;
            height: 45px;
        }
    }

    &__icon-shops, &__icon-shops-hover {
        svg {
            width: 45px;
            height: 57px;
        }
    }
}

// is-scroll-image
.is-scroll-image {
    position: relative;
    *[data-content-image] {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

.wrap-vertical {
    .is-scroll-image {
        *[data-scroll-image] {
            right: 0;
        }
    }
}