%absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

%bg-gradient {
	background: $main-color;
	background: -moz-linear-gradient(left, $main-color 0%, $main-color 30%, $luxor-gold 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, $main-color), color-stop(30%, $main-color), color-stop(100%, $luxor-gold));
	background: -webkit-linear-gradient(left, $main-color 0%, $main-color 30%, $luxor-gold 100%);
	background: -o-linear-gradient(left, $main-color 0%, $main-color 30%, $luxor-gold 100%);
	background: -ms-linear-gradient(left, $main-color 0%, $main-color 30%, $luxor-gold 100%);
	background: linear-gradient(to right, $main-color 0%, $main-color 30%, $luxor-gold 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$main-color', endColorstr='$luxor-gold', GradientType=1 );
}