<section class="block-banner">
    <div class="block-banner__thumb" style="background-image: url('{{site.url}}/app/themes/studio/assets/images/banner.jpg')"></div>
    <div class="block-banner__detail">
        <div class="block-banner__logo">
            <img src="{{site.url}}/app/themes/studio/assets/images/logo/logo-white.png" align="Quincy">
        </div>
    </div>

    <a href="#block-life" title="" class="scroll-next-section"><i class="fa fa-caret-down"></i></a>
</section>