<section class="block-banner">
    <div class="row">
        <div class="block-banner__thumb" style="background-image: url('{{site.url}}/app/themes/studio/assets/images/Quincy_101217_72res.jpg')">
        </div>
    </div>
</section>