{% set contentblock = post.get_field('pgs_content_block') %}
{% if contentblock %}
<main class="main-content">
	<div class="container">
	    {% for content in contentblock %}

	    	{% if content.acf_fc_layout == 'contact_us' %}
				{% include 'content-blocks/contact_us.twig' %}

	    	{% elseif content.acf_fc_layout == 'get_directions' %}
				{% include 'content-blocks/get_directions.twig' %}

			{% elseif content.acf_fc_layout == 'amenities' %}
				{% include 'content-blocks/amenities.twig' %}

			{% elseif content.acf_fc_layout == 'gallery' %}
				{% include 'content-blocks/gallery.twig' %}

			{% elseif content.acf_fc_layout == 'retail' %}
				{% include 'content-blocks/retail.twig' %}

	    	{% endif %}

	    {% endfor %}
	</div>
</main>
{% else %}
<main class="main-content">
	<div class="container" style="height: 40px;">
	</div>
</main>
{% endif %}