<section class="block-ft-contact">
    <div class="container">
        <div class="row flexlayout">
            <div class="col-sm-6">
                <div class="block-ft-contact__left box-address">
                    {% include "partials/address.twig" %}
                </div>
            </div>
            <div class="col-sm-6">
                <div id="map-contact" class="map-contact" style="min-height: 300px"></div>
            </div>
        </div>
    </div>
</section>