<section class="block-ft-contact">
    <div class="container">
        <div class="row">
            <div class="block-ft-contact__left col-sm-6">
                <img src="{{site.url}}/app/themes/studio/assets/images/logo/logo-black.png" align="Quincy">
                <address>
                    1776 Curtis Street, Denver, CO 80202<br/>
                    <a href="tel:123.456.7890" title="phone">123.456.7890</a>
                </address>
                <ul class="block-social">
                    <li>
                        <a href="#" title=""><i class="fa fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#" title=""><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <div class="block-ft-contact__right block-map col-sm-6">
            </div>
        </div>
    </div>
</section>