<div id="img-banner" class="block-header__thumb" style="background-image: url('{{Image(post._thumbnail_id).src|resize(1920)}}')">
</div>

<div class="call-action-button hidden-xs container text-right">
    {% if not global.availability_off and global.apply_link %}
        <a class="apply-link" href="{{global.apply_link}}" target="_blank">APPLY NOW</a>
    {% endif %}

    {% if global.phone %}
        <a class="phone-link" href="tel:{{global.phone|replace({' ': ''})}}">{{global.phone}}</a>
    {% endif %}
</div>

{% include 'partials/menu.twig' %}