.block-amenity {
	margin-bottom: 30px;

	header {
		font-size: 14px;
		padding: 25px;
	}

	&__item {
		font-weight: 300;

		&__title {
			color: $main-color;
			font-weight: 300;
			font-size: 36px;
			margin: 0;
			letter-spacing: .1rem;

			a {
				color: inherit;
			}
		}

		&__detail {
			background-color: $gray-bg-color;

			> .row {
				@media screen and (min-width: 992px) {
					display: flex;

					&>* {
						position: relative;
					}
				}
			}
		}

		&__list {
			padding: 30px 15px 20px;
			padding: 0 30px;
			position: absolute;
			left: 15px;
			right: 15px;
			top: 60px;
			bottom: 30px;
			overflow: hidden;

			ul {
				position: absolute;
				top: 0;
				left: 30px;
				right: 70px;
			}
		}

		.row {
			.wrap-vertical {
				right: 15px;
			}
		}
	}

	.is-scroll {
		height: 450px;

		@include breakpoint(desktop) {
			height: auto;
		}
	}
}

.slick-slide img {
	display: inline-block;
}

.slider-fix-h .slick-track {
	height: 450px;
}