.block-amenity {
	&__item {
		margin-bottom: 30px;

		&__title {
			color: $main-color;
			font-weight: 300;
			font-size: 36px;

			a {
				color: inherit;
			}
		}

		&__detail {
			background-color: $gray-bg-color;

			> .row {
				@include breakpoint(tablet) {
					display: flex;

					&>* {
						position: relative;
					}
				}
			}
		}

		&__list {
			padding: 30px 15px 20px;
			@include breakpoint(tablet) {
				padding: 0 30px;
				position: absolute;
				left: 15px;
				right: 15px;
				top: 60px;
				bottom: 30px;
				overflow: hidden;

				ul {
					position: absolute;
					top: 0;
					left: 30px;
					right: 30px;
				}
			}
		}
	}
}

.slick-slide img {
	display: inline-block;
}