.block-ft {
	&-contact {
		&__left {
			background-color: $gray-color;
			text-align: center;
		}

		#map-contact {
			height: 100%;

			.gm-bundled-control-on-bottom {
				right: 25px!important;
				left: auto!important;
			}

			.gm-svpc {
				display: none;
			}
		}
	}

	&__list {
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			vertical-align: middle;
		}
	}
}