.directions{
	padding:25px;
	background: $gray-bg-color;
	margin-bottom: 25px;
	&__container{
		@media screen and (min-width: 991px){
			display: flex;
		}
		.title{
			color: $luxor-gold;
			font-size: 24px;
			text-transform: uppercase; 
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
			line-height: 40px;
			@media screen and (min-width: 991px){
				max-width: 260px;
				text-align: left;
				margin-bottom: 0;
			}
		}
	}
	&__form{
		width: 100%;
		@media screen and (min-width: 991px){
			max-width: calc(100% - 260px);
		}
		.form-input{
			input {
				&[type="text"]{
					border:1px solid $main-color;
					height: 40px;
					width: 100%;
					line-height: 20px;
					padding-left: 20px;
					margin-bottom: 0;
				}
			}
		}

		&--container{
			@media screen and (min-width: 768px){
				display: flex;
			}
			.form-input{
				width: 100%;
				@media screen and (min-width: 768px){
					max-width: calc(100% - 260px);
				}
			}
			.line-before{
				width: 240px;
				margin: 15px auto 0;
				@media screen and (min-width: 768px){
					margin: 0;
				}
				input{
					font-size: 15px;
					line-height: 20px;
					height: 40px;
					font-weight: 500;
					text-transform: uppercase;
					color: $luxor-gold;
					border:none;
					background: none;
					outline: none;
					margin-bottom: 0;
					transition: all .3s ease-in-out;

					&:hover {
						color: $main-color;
					}
				}
			}
		}
	}
}