.block-header {
	position: relative;

	&__thumb {
		@include breakpoint(tablet) {
			height: 100vh; 
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		@include breakpoint(phone) {
			display: none;
		}
	}

	&__detail {
		@extend %absolute-center;
		text-align: center;
		color: $white;
	}

	&__logo {
		span {
			width: 403px;
			height: 244px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			display: block;
			font-size: 0;
		}
	}
}

#slider-vertical {
	position: absolute;
	top: 50%;
	left: 110px;
	height: 224px;
	margin-top: -112px;
	width: 1px;
	background: $white;

	.noUi-handle {
		width: 25px;
		height: 25px;
		left: -12px;
		border: 0 none;
		background: $white url(../svg/sources/scrollbar.svg) no-repeat center;
		background-size: 15px;
		box-shadow: none;
		cursor: pointer;
		border-radius: 50%;

		&:before, &:after {
			display: none;
		}
	}
}

.quick-search {
	@include breakpoint(tablet) {
		position: fixed;
		right: 0;
		top: 50%;
		z-index: 10;
		@include transform(translate(0%, -50%));
	}

	a {
		display: inline-block;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		font-size: 27px;
		color: $white;
		font-weight: $font-weight--light;
		position: relative;
		@extend %bg-gradient;

		&:hover {
			text-decoration: none;
		}

		.description {
			position: absolute;
			opacity: 0;
			height: 100%;
			right: 100%;
			transition: all .3s ease-in-out;
			font-size: 11px;
			line-height: 15px;
			padding: 10px 20px;
			white-space: nowrap;
			text-align: left;
			text-transform: uppercase;
			background: $main-color;
			font-weight: $font-weight--medium;
			visibility: hidden;
			@include transform(translate(-50%));
		}

		@include breakpoint(tablet) {
			display: block;

			&:hover {
				.description {
					visibility: visible;
					opacity: 1;
					@include transform(translate(0%));
				}
			}

			+a {
				margin-top: 15px;
			}
		}
	}
}

.call-action-button {
	position: absolute;
	top: 25px;
	z-index: 10;
	left: 0;
	right: 0;
	font-size: 0;
	a {
		font-size: 12px;
		font-weight: $font-weight--medium;
		color: $white;
		display: inline-block;
		padding: 0 10px 5px;
		border-bottom: 2px solid $main-color;
		text-transform: uppercase;
		+a {
			margin-left: 30px;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

.nav {
	position: fixed;
	left: 0;
	top: 50%;
	right: 70px;
	z-index: 10;
	@include transform(translate(0%,-50%));
	background-color: $gray-color;

	@include breakpoint(tablet) {
		padding-left: 50px;
		height: 450px;
	}

	&__bar {
		@extend %bg-gradient;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		width: 50px;

		.icon__menu-icon {
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
		}

		.icon__menu-icon-close {
			visibility: hidden;
			opacity: 0;

			.svg_menu-icon-close {
				width: 16px;
			}
		}

		.svg_logo-text {
			width: 30px;
		}

		.logo-text {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 15px;
			width: 30px;
		}
	}

	&__content {

	}

	.main-nav {
		font-size: 11px;
		list-style: none;
		text-transform: uppercase;
		display: flex;
		flex-flow: column wrap;
		margin-top: auto;
		height: 450px;
		justify-content: center;
		padding-left: 50%;

		li {
			padding: 10px 0;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				left: -67px;
				bottom: 0;
				width: 57px;
				height: 1px;
				top: 50%;
				@include transform(translateY(-50%));
				background-color: $luxor-gold;
			}
		}

		a {
			color: $main-text-color;
		}
	}

	.box-address {
		display: flex;
		flex-flow: column wrap;
		margin-top: auto;
		height: 450px;
		justify-content: center;
		text-align: center;

		.svg_logo-white {
			width: 217px;
		}
	}
}