.block-social {
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		background-color: $main-color;
		line-height: 30px;

		a {
			color: $white;
		}
	}
}